.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vw;
    background-color: red;
    color: #fff
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 60vh;
    background-color: blueviolet;
}

.container .central{
    flex-grow: 5;
}

.container .l-e{
    flex-grow: 1;
    background-color: aqua;
}

.container .l-d{
    flex-grow: 1;
    background-color: rgb(60, 255, 86);
}